<%- contentFor("main")%>
<div class="max-w-lg mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center">Inscription</h2>

  <%- include("../_errors") %>

  <form action="/auth/register" method="POST" class="space-y-4">
    <div class="flex flex-col sm:flex-row gap-4">
      <div class="w-full">
        <label for="firstname" class="block text-sm font-medium text-gray-700"
          >Prénom</label
        >
        <input
          type="text"
          id="firstname"
          name="firstname"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
        />
      </div>
      <div class="w-full">
        <label for="lastname" class="block text-sm font-medium text-gray-700"
          >Nom</label
        >
        <input
          type="text"
          id="lastname"
          name="lastname"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
        />
      </div>
    </div>

    <div class="flex flex-col sm:flex-row gap-4">
      <div class="w-full">
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
        />
      </div>

      <div class="w-full">
        <label for="phone" class="block text-sm font-medium text-gray-700"
          >Numéro de téléphone</label
        >
        <input
          type="text"
          id="phone"
          name="phone"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
        />
      </div>
    </div>

    <div>
      <label for="password" class="block text-sm font-medium text-gray-700"
        >Mot de passe</label
      >
      <input
        type="password"
        id="password"
        name="password"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md"
      />
    </div>

    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700"
    >
      S'inscrire
    </button>
  </form>

  <p class="mt-4 text-center">
    <a href="/auth/login" class="text-blue-600 hover:underline"
      >Déjà un compte ? Se connecter</a
    >
  </p>
</div>
