<%- contentFor('title') %>Liste des voyages <%- contentFor('main') %>
<div class="mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-4xl font-bold mb-6 text-center">Liste des voyages</h1>
  <%- include('_travelTab') %>
</div>
