<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof title !== 'undefined' ? title : 'Gestionnaire de tâches' %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="bg-sky-400 p-3"><%- include('header') %></header>

    <main class="w-full h-screen"><%- main %></main>

    <footer><%- include('footer') %></footer>
  </body>
</html>
