<%- contentFor("main")%>
<div class="max-w-3xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center">Modifier un voyage</h2>
  <form action="/admin/travel/update/<%= travel.id%>" method="POST">
    <input type="hidden" name="_method" value="PATCH" />
    <%- include('_travelForm') %>
  </form>
</div>
